### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
%config IPCompleter.greedy=True

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [3]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
total_player = len(purchase_data["SN"].unique())
total_player

576

## Player Count

* Display the total number of players

In [5]:
total_players = pd.DataFrame({'Total Players':[total_player]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
unique_item = purchase_data["Item ID"].value_counts()
number_of_unique_item = unique_item.count()
#number_of_unique_item

average_price = purchase_data["Price"].mean()
#average_price

number_of_purchases = purchase_data["Item ID"].count()
#number_of_purchases

total_revenue = purchase_data["Price"].sum()
#total_revenue

purchase_analysis = pd.DataFrame({'Number of Unique Items': number_of_unique_item,
                                  'Average Price':average_price,
                                  'Number of Purchases':number_of_purchases,
                                  'Total Revenue':total_revenue
                                 },index=[0])
purchase_analysis.style.format({'Average Price':'${:,.2f}',
                               'Total Revenue':'${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
gender_groupby = purchase_data.groupby(["Gender"])
total_count = gender_groupby.nunique()["SN"]
#total_count

percentage_of_player = total_count/total_player *100
#percentage_of_player

gender_demographics = pd.DataFrame({'Total Count':total_count,
                                    'Percentage of Players':percentage_of_player})

formatted_gender = gender_demographics.sort_values(["Total Count"], ascending=False)

formatted_gender.style.format({'Percentage of Players':'{:,.2f}%'})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
avg_purchase_price = gender_groupby["Price"].mean()
avg_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [13]:
total_purchase_value = gender_groupby["Price"].sum()
total_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [14]:
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [15]:
avg_total_purchase_person = total_purchase_value/total_count
avg_total_purchase_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [16]:
gender_purchasing_analysis = pd.DataFrame({
                                          "Purchase Count":total_count,
                                           "Average Purchase Price":avg_purchase_price,
                                           "Total Purchase Value":total_purchase_value,
                                            "Avg Total Purchase per Person":avg_total_purchase_person
                                          })

gender_purchasing_analysis.style.format({'Average Purchase Price':'${:,.2f}',
                                         'Total Purchase Value':'${:,.2f}',
                                         'Avg Total Purchase per Person':'${:,.2f}'
                                         })

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [17]:
bins =[0,9.9,14.99,19.99,24.99,29.99,34.99,39.99,100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]

purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
#purchase_data

groupby_age_count = purchase_data.groupby(['Age Ranges'])
age_total_count = groupby_age_count["SN"].nunique()

age_percentage_of_player = age_total_count/total_player * 100
#age_percentage_of_player

In [18]:
age_demo = pd.DataFrame({
                        "Total Count":age_total_count,
                        "Percentage of Players":age_percentage_of_player,
                        })
age_demo.index.name = None
age_demo.style.format({'Percentage of Players':'{:,.2f}%'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
bins =[0,9.9,14.99,19.99,24.99,29.99,34.99,39.99,100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]

purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
#purchase_data

groupby_age_count = purchase_data.groupby(['Age Ranges'])
purchase_count = groupby_age_count["SN"].count()
#purchase_count

avg_price = groupby_age_count['Price'].mean()
#avg_price

total_price = groupby_age_count['Price'].sum()
#total_price

avg_purchase_price_person = total_price/age_total_count
avg_purchase_price_person

Age Ranges
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [20]:
age_purchase = pd.DataFrame({
                            "Purchase Count":purchase_count,
                            "Average Purchase Price":avg_price,
                            "Total Purchase Value":total_price,
                            "Avg Total Purchase per Person":avg_purchase_price_person,
                            })
age_purchase.style.format({
                            "Average Purchase Price":'${:,.2f}',
                            "Total Purchase Value":'${:,.2f}',
                            "Avg Total Purchase per Person":'${:,.2f}'
                            })

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
sn_group = purchase_data.groupby(['SN'])
sn_purchase_count = sn_group['Purchase ID'].count()
#sn_purchase_count

sn_avg_price = sn_group['Price'].mean()
#sn_avg_price

sn_total_purchase = sn_group['Price'].sum()
sn_total_purchase.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [26]:
top_purchase = pd.DataFrame({
                            "Purchase Count":sn_purchase_count,
                            "Average Purchase Price":sn_avg_price,
                            "Total Purchase Value":sn_total_purchase,
                            })
formatted_top_purchase = top_purchase.sort_values(["Total Purchase Value"], ascending=False).head()
formatted_top_purchase.style.format({
                                    "Average Purchase Price":'${:,.2f}',
                                    "Total Purchase Value":'${:,.2f}',
                                    })

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [36]:
popular_item=purchase_data[['Item ID','Item Name','Price']]
popular_item.head()

popular_group = popular_item.groupby(['Item ID','Item Name'])
popular_group

popular_purchase_count = popular_group['Price'].count()
popular_purchase_count

popular_total_purchase = popular_group['Price'].sum()
popular_total_purchase

popular_item_price = popular_total_purchase/popular_purchase_count
popular_item_price

Item ID  Item Name
0        Splinter                           1.28
1        Crucifer                           3.26
2        Verdict                            2.48
3        Phantomlight                       2.49
4        Bloodlord's Fetish                 1.70
                                            ...
179      Wolf, Promise of the Moonwalker    4.48
180      Stormcaller                        3.36
181      Reaper's Toll                      1.66
182      Toothpick                          4.03
183      Dragon's Greatsword                1.09
Name: Price, Length: 183, dtype: float64

In [41]:
popular_purchase = pd.DataFrame({
                            "Purchase Count":popular_purchase_count,
                            "Item Price":popular_item_price,
                            "Total Purchase Value":popular_total_purchase
                            })
formatted_popular_purchase = popular_purchase.sort_values(["Purchase Count"], ascending=False).head()
formatted_popular_purchase.style.format({
                                    "Item Price":'${:,.2f}',
                                    "Total Purchase Value":'${:,.2f}',
                                    })

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [44]:
formatted_most_profitable = popular_purchase.sort_values(["Total Purchase Value"], ascending=False).head()
formatted_most_profitable

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80